{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["standard", "plugin:prettier/recommended"],
  "plugins": ["standard", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    // "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "semi": "off",
    "indent": ["error", 2]
  }
}
